*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}
header{
    display: flex;
}
header .navbar{
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
}
.icons{
    display: flex;
    gap: 50px;
    font-size: 20px;
}
.login{
    display: flex;
}
.cart{
    display: flex;
}
.seller{
    display: flex;
}
.menu{
    display: flex;
}
.searchbar{
    display: flex;
    width: 500px;
    height: 40px;
    border-radius: 5px;
    background-color: aliceblue;
}
.searchinput input{
    border: none;
    height: 40px;
    width: 350px;
    font-size: 17px;
    background-color: transparent;
}
.fa-magnifying-glass{
    padding: 12px;
    background-color: transparent;
}