*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
}
header .navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    justify-content: space-between;
    gap: 160px;
}
.icons{
    display: flex;
    gap: 20px;
}
.login{
    display: flex;
}
.cart{
    display: flex;
}
.seller{
    display: flex;
}
.menu{
    display: flex;
}
.searchbar{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
}
.searchinput input{
    border: none;
    height: 40px;
    width: 350px;
}
.fa-magnifying-glass{
    padding: 12px;
    background-color: white;
}