*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}
header{
    display: flex;
}
header .navbar{
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
}
.icons{
    display: flex;
    gap: 50px;
    font-size: 20px;
}
.login{
    display: flex;
}
.cart{
    display: flex;
}
.seller{
    display: flex;
}
.menu{
    display: flex;
}
.searchbar{
    display: flex;
    width: 500px;
    height: 40px;
    border-radius: 5px;
    background-color: aliceblue;
}
.searchinput input{
    border: none;
    height: 40px;
    width: 350px;
    font-size: 17px;
    background-color: transparent;
}
.fa-magnifying-glass{
    padding: 12px;
    background-color: transparent;
}
main{
    display: flex;
    justify-content: center;

}
main .hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1230px;
    height: 126px;
    background-color: white;
    margin-top: 10px;
}
section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
section .back{
    width: 1230px;
    height: 230px;
    background-color: white;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
footer .deals{
    width: 900px;
    height: 230px;
    background-color: white;
}
footer .deals2{
    width: 320px;
    height: 230px;
    background-color: white;
}