*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    font-family: "Poppins", sans-serif;
}
header{
    display: flex;
}
header .navbar{
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
}
.icons{
    display: flex;
    gap: 50px;
    font-size: 20px;
    cursor: pointer;
}
.login{
    display: flex;
}
.cart{
    display: flex;
}
.seller{
    display: flex;
}
.menu{
    display: flex;
}
.searchbar{
    display: flex;
    width: 500px;
    height: 40px;
    border-radius: 5px;
    background-color: aliceblue;
}
.searchinput input{
    border: none;
    height: 40px;
    width: 350px;
    font-size: 17px;
    background-color: transparent;
}
.fa-magnifying-glass{
    padding: 12px;
    background-color: transparent;
    cursor: pointer;
}
main{
    display: flex;
    justify-content: center;

}
main .hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1230px;
    height: 126px;
    background-color: white;
    margin-top: 10px;
    cursor: pointer;
}
section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}
section .back{
    width: 1230px;
    height: 230px;
    background-color: white;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
footer .deals{
    width: 1025px;
    height: 334px;
    background-color: white;
    cursor: pointer;
}
footer .deals2{
    width: 195px;
    height: 334px;
    background-color: white;
    cursor: pointer;
}
footer .products{
    display: flex;
}
.products{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 20px 0;
}
.products > div {
    width: 160px;
    text-align: center;
}
.products p {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 10px;
}
.top {
    font-size: 35px;
}



